.App-header {
  text-align: center;
}

.App-footer {
  text-align: center;
}


.Floradorable {
  margin: 5%;
  font-size: 350%;
  text-align: left;
}

.swirls {
  overflow: hidden;
  font-size: 200%;
  font-weight: lighter;
  margin-left: 5%;
  margin-right: 5%;
}

.Floradorable + .swirls {
  margin-top: -5%;
  margin-bottom: 5%;
 }

 
.App-footer > .swirls {
  margin-top: 5%;
 }
