.userPlants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.showUserPlant {
  display: flex;
  justify-content: center;
}

.water {
  width: 50%;
}
