.userPlants {
  display: flex;
}

.leftUserPlants {
  flex: 1;
}

.rightUserPlants {
  flex: 1;
}

.showUserPlant {
  display: flex;
  justify-content: center;
}

.water {
  width: 50%;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  width: 50%;
}
