.userPlant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userPlantImg {
  border: 10px transparent solid;
  box-shadow: 0 0 1pt 1pt gray;
  border-radius: 5px;
  width: 50%;
  margin-top: 5%;
}

.userPlantProp {
  margin-top: 2%;
}

.userPlantWater {
  width: 50%;
  justify-content: center;
  display: flex;
}

.dropImg {
  height: 30%;
  width: 30%;
}
