@import url('fonts.css');
@import url('components/LoginForm.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  color: darkslategray;
  overflow: scroll;
}

h3, input {
  font-family: sans-serif;
  font-weight: lighter;
  color: darkslategray;
}

h1 {
  font-size: 400%;
}

button {
  color: white;
  background-color: #373c42;
  width: 90%;
  font-size: 125%;
  height: 50px;
  margin-top: 5%;
  border: 0;
}

button:disabled {
  background-color: LightGray;
}
